{% load static %}
<html>

<head>
	<title>CADASTRO</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body style="background-color: #ADD8E6;">
	<div class="page-header" style="display:inline-flex; align-items: center;">
		<h3 style="margin-left:10%;"><a href="/aplicacao">VOLTAR</a></h3>		
	</div>
	<div class="content container">
		<div class="row">
			<div class="col-md-8">
				{% if listapessoas %}
				<h3><b>TOTAL CADASTRADAS: </b> <b style="color: green;">{{ listapessoas | length }}</b></h3>
				<p>----------------------------------------------------------------------------------------------------------------------------------</p>
				<ul style="font-size: larger;">
					{% for p in listapessoas %}
					<li><a href="/aplicacao/pessoa/{{ p.id }}/">{{ p.nome }}</a></li>
					{% endfor %}
				</ul>
				{% else %}
				<h3 style="color: red;">Não há pessoas cadastradas.</h3>
				{% endif %}
			</div>
		</div>
	</div>
</body>

</html>