{% load static %}
<html>
    <head>
        <title>CADASTRO</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

<body style="background-color: #ADD8E6;">
    <div class="page-header" style="display:inline-flex; align-items: center;">
        <h3 style="margin-left:10%;"><a href="/aplicacao">VOLTAR</a></h3>
    

    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
              <h3 style="color: green;">ALTERAÇÃO REALIZADA</h3>
            </div>
        </div>
    </div>
</body>
</html>
